<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,minimum-scale=1,user-scalable=1">
	<title>Title</title>
	<link href="//cdn.bootcss.com/weui/1.0.2/style/weui.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../../public/css/releaseRequirements.css">
</head>
<body>
	<div class="releaseRequirements">
		<div class="releaseRequirements-head">
			<div class="releaseRequirements-head-box">
				<div class="releaseRequirements-head-cancel">取消</div>
				<div class="releaseRequirements-head-title">发布房源</div>
			</div>
		</div>
		<div class="releaseRequirements-search">
			<div class="rR-s-search">
				<i class="rR-s-search-icon"></i>
				<span class="rR-s-search-text">搜索想要发布的大厦</span>
			</div>
			<div class="rR-s-search-add">
				<i class="rR-s-search-addIcon"></i>
				<span class="rR-s-search-addText">新增楼盘</span>
			</div>
		</div>
		<!--大厦信息-->
		<div class="buildingInformation">
			<dl>
				<dt>大厦信息</dt>
				<dd>
					<ul class="dd-flex">
						<li class="dd-flex1">
							<span class="buildingInformation-sq">商圈:</span>
						</li>
						<li class="dd-flex2">
							<div class="buildingInformation-sq-content">浦东-八佰伴</div>
						</li>
					</ul>
				</dd>
				<dd>
					<ul class="dd-flex">
						<li class="dd-flex1">
							<span class="buildingInformation-sq">物业:</span>
						</li>
						<li class="dd-flex2">
							<div class="buildingInformation-sq-content">上海浦江物业有限公司</div>
						</li>
					</ul>
				</dd>
				<dd>
					<ul class="dd-flex">
						<li class="dd-flex1">
							<span class="buildingInformation-sq">层数:</span>
						</li>
						<li class="dd-flex2">
							<div class="buildingInformation-sq-content">23层</div>
						</li>
					</ul>
				</dd>
				<dd>
					<ul class="dd-flex">
						<li class="dd-flex1">
							<span class="buildingInformation-sq">层高:</span>
						</li>
						<li class="dd-flex2">
							<div class="buildingInformation-sq-content">标准4.5米，净高2.75，大堂14.5米</div>
						</li>
					</ul>
				</dd>
				<dd>
					<ul class="dd-flex">
						<li class="dd-flex1">
							<span class="buildingInformation-sq">车位:</span>
						</li>
						<li class="dd-flex2">
							<div class="buildingInformation-sq-content">地上30个，地下400个，1250元/月</div>
						</li>
					</ul>
				</dd>
				<dd>
					<ul class="dd-flex">
						<li class="dd-flex1">
							<span class="buildingInformation-sq">电梯:</span>
						</li>
						<li class="dd-flex2">
							<div class="buildingInformation-sq-content">客梯8部，货梯2部，三菱电梯</div>
						</li>
					</ul>
				</dd>
				<dd>
					<ul class="dd-flex">
						<li class="dd-flex1">
							<span class="buildingInformation-sq">空调:</span>
						</li>
						<li class="dd-flex2">
							<div class="buildingInformation-sq-content">集中式中央空调</div>
						</li>
					</ul>
				</dd>
				<dd>
					<ul class="dd-flex">
						<li class="dd-flex1">
							<span class="buildingInformation-sq">入驻企业:</span>
						</li>
						<li class="dd-flex2">
							<div class="buildingInformation-sq-content">顺诚商业地产（房地产/建筑）、大大集团</div>
						</li>
					</ul>
				</dd>
				<dd>
					<ul class="dd-flex">
						<li class="dd-flex1">
							<span class="buildingInformation-sq">地铁:</span>
						</li>
						<li class="dd-flex2">
							<div class="buildingInformation-sq-content">距离世纪大道站步行7分钟</div>
						</li>
					</ul>
				</dd>
			</dl>
		</div>
		<!--房源信息-->
		<div class="housingInformation">
			<p class="hI-title">房源信息</p>
			<p class="hI-text">请选择发布房源的属性</p>
			<div class="hI-elements-box">
				<div class="hI-elements">
					<label><i class="hI-radio"></i>整层</label>
				</div>
				<div class="hI-elements">
					<label><i class="hI-radio-active"></i>整栋</label>
				</div>
				<div class="hI-elements">
					<label><i class="hI-radio-active"></i>众创空间</label>
				</div>
				<div class="hI-elements">
					<label><i class="hI-radio-active"></i>创意产业园</label>
				</div>
				<div class="hI-elements">
					<label><i class="hI-radio-active"></i>商务中心</label>
				</div>
				<div class="hI-elements">
					<label><i class="hI-radio-active"></i>写字楼</label>
				</div>
				<div class="hI-elements">
					<label><i class="hI-radio-active"></i>工位</label>
				</div>
			</div>
			<div class="hI-content-box">
				<div class="hI-content1">
					<span class="hI-content1-head">房产面积</span><div class="hI-content1-c1"><input type="text" class="hI-content1-input1" value="20"></div><span class="hI-content1-l1">㎡</span>
				</div>
				<div class="hI-content1">
					<span class="hI-content1-head">房产单价</span><div class="hI-content1-c1"><input type="text" class="hI-content1-input1" value="6.5"></div><span class="hI-content1-l1">元/㎡/天</span>
				</div>
				<div class="hI-content1">
					<span class="hI-content1-head">交付状态</span><div class="hI-content1-c2"><input type="text" class="hI-content1-input2" value="标准交付"><i class="content_list_icon99"></i></div>
				</div>
				<div class="hI-content1">
					<span class="hI-content1-head">交付日期</span><div class="hI-content1-c1"><input type="text" class="hI-content1-input1" value="2015-06-21"></div><div class="hI-elements">
					<label><i class="hI-radio"></i>是否现房</label>
				</div>
				</div>
				<div class="hI-content1">
					<span class="hI-content1-head">最短租期</span><div type="text" class="hI-content1-c2"><input type="text" class="hI-content1-input1" value="3年"></div>
				</div>
				<div class="hI-content1">
					<span class="hI-content1-head">付款方式</span><div class="hI-content1-c1"><input type="text" class="hI-content1-input1" value="押三付一"></div><div class="hI-elements">
					<label><i class="hI-radio"></i>是否包含发票</label>
				</div>
				</div>
				<div class="hI-content1">
					<span class="hI-content1-head">是否结佣</span><div class="hI-content1-c1"><input type="text" class="hI-content1-input1" value="一个月"></div><div class="hI-elements">
					<label><i class="hI-radio"></i>是</label>
				</div>
				</div>
				<div class="hI-content1">
					<span class="hI-content1-head">装修免租</span><div class="hI-content1-c2"><input type="text" class="hI-content1-input2" value="一个月"></div>
				</div>
				<div class="hI-content1">
					<span class="hI-content1-head">看房时间</span><div class="hI-content1-c1"><input type="text" class="hI-content1-input1" value="8:00"></div> <div class="hI-content1-c1 hI-content1-c11"><input type="text" class="hI-content1-input1" value="20:00"></div>
				</div>
				<div class="hI-content2">
					<span class="hI-content1-head">房源简介</span><div class="hI-content1-c3">
					<textarea  class="hI-content1-textarea">房源简介</textarea>
				</div>
				</div>
			</div>
			<!--添加图片-->
			<div class="hI-add">
				<div class="hI-add-box">
					<span class="add-text">添加图片</span>
				</div>
			</div>
		</div>
		<!--确认发布btn-->
		<div class="releaseRequirements-chick">
			<div class="releaseRequirements-btn">
				<span class="releaseRequirements-text">确认发布</span>
			</div>
		</div>
	</div>

	<!--发布成功提示-->
    <div class="release-success release-success-active">
        <div class="release-success_box">
            <div class="release-success_box-top">需求发布成功，请稍候</div>
            <div class="release-success_box-bottom">确定</div>
        </div>
    </div>
    <!--取消发布提示-->
	<div class="release-cancel release-success-active">
		<div class="release-cancel_box">
			<div class="release-cancel_box-top">你确定要退出此发布？</div>
			<div class="release-cancel_box-bottom clear">
                <div class="release-cancel_box-bottom-left">取消</div>
                <div class="release-cancel_box-bottom-right">确定</div>
            </div>
		</div>
	</div>
    <!--增加楼盘-->
    <div class="release-add release-success-active">
        <div class="releaseRequirements-head">
            <div class="releaseRequirements-head-box">
                <div class="releaseRequirements-head-cancel"><img src="../../public/img/content_list_right_icon@2x.png" style="height: 20px"></div>
                <div class="releaseRequirements-head-title">新增楼盘</div>
            </div>
        </div>

        <div class="releaseRequirements-box1">
            <div class="releaseRequirements-box1-input1">
                <input type="text" class="input1" placeholder="输入您想要增加的楼盘">
            </div>
        </div>
        <div class="releaseRequirements-box2">
            <div class="releaseRequirements-box2-input2">
                <input type="text" class="input2" placeholder="输入楼盘的地址">
            </div>
        </div>

        <div class="release-add-chick">
            <div class="release-add-btn">
                <span class="release-add-text">确认提交</span>
            </div>
        </div>
    </div>
    <!--增加楼盘成功提示-->
    <div class="release-add-success release-success-active">
        <div class="release-add-success_box">
            <div class="release-add-success_box-top">提交成功，稍后会有专人与您联系</div>
            <div class="release-add-success_box-bottom">确定</div>
        </div>
    </div>
    <!--搜索想要发布的大楼-->
    <div class="release-search release-success-active">
        <div class="release-search-search">
            <div class="rs-s-search">
                <i class="rs-s-search-icon"></i>
                <input type="text" class="rs-s-search-input" placeholder="搜索想要发布的大厦">
            </div>
            <div class="rs-s-search-add">
                <span class="rs-s-search-addText">取消</span>
            </div>
        </div>
        <div class="release-search-zjss clear">
            <span class="release-search-zjss-s1">最近搜索</span>
            <span class="release-search-zjss-s2">清除</span>
        </div>
        <div class="release-search-content">
            <div class="release-search-content1">海文商务楼</div>
            <div class="release-search-content1">国科大厦</div>
            <div class="release-search-content1">会德丰国际广场</div>
        </div>
    </div>


	<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
	<script>
		$(".releaseRequirements-head-cancel").click(function () {
			$('.release-cancel').removeClass('release-success-active');
		})

		$(".release-cancel_box-bottom-left").click(function () {
			$('.release-cancel').addClass('release-success-active');
		})
		$(".release-cancel_box-bottom-right").click(function () {
			window.history.back(0);
		})

		$(".releaseRequirements-btn").click(function () {
			$('.release-success').removeClass('release-success-active');
		})
//		确认发布 确定
		$(".release-success_box-bottom").click(function () {
			window.history.back(0);
		})

		$('.rR-s-search').click(function () {
			$('.release-search').removeClass('release-success-active');
		})
		$('.rs-s-search-add').click(function () {
			$('.release-search').addClass('release-success-active');
		})
		$('.release-search-content div').click(function () {
			$('.release-search').addClass('release-success-active');
			$('.rR-s-search-text').text($(this).text());
		})

		$('.rR-s-search-add').click(function () {
			$('.release-add').removeClass('release-success-active');
		})
		$('.releaseRequirements-head-cancel').click(function () {
			$('.release-add').addClass('release-success-active');
		})
//		点击确认发布
		$('.release-add-btn').click(function () {
			$('.release-add-success').removeClass('release-success-active');
		})
		$('.release-add-success_box-bottom').click(function () {
			$('.release-add-success').addClass('release-success-active');
			$('.release-add').addClass('release-success-active');
		})
	</script>
</body>
</html>