.clear:after{
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}
.container{
    background: #efeff4;
    position: absolute;
    top:64px;
    right:0;
    left:0;
    bottom:0;
    overflow-y:auto;
}

.context-msg-1{
    background-color: #ffffff;
    width: 100%;
    height:115px;
    margin-bottom: 5px;
}
.context-msg-flex{
    display: flex;
    list-style: none;
}
.context-msg-flex li{
    padding:10px 0px;
    padding-left:5px;
    height: 95px;
}
.context-msg-left{
    flex: 3;
}
.content_img_list{
    width: 100%;
    height:100%;
}
.context-msg-right{
    flex: 4;
}

.context-msg-right-container{
    padding:2px 5px;
}
.context-msg-name{
    width: 100%;
}
.context-msg-name-text{
    display:inline-block;
    font-size:16px;
    font-weight: bold;
    height: 25px;
}
.collect_icon_nor{
    background:url("../images/collect_icon_nor@2x.png") no-repeat center;
    background-size:16px;
    float: right;
    display: inline-block;
    height:25px;
    width:25px;
}
.context-msg-address{
    font-size:10px;
}
.context-msg-type{
    font-size:8px;
    border:1px solid #ea580a;
    border-radius: 5px;
    width:60px;
    text-align: center;
}
.context-msg-price{
    font-size:8px;
}
.price-type{
    color:#ea580a;
    font-weight: bold;
}
.price{
    font-size:18px;
    color:#ea580a;
    font-weight: bold;
}

.releaseRequirements-head{
    width: 100%;
    height: 64px;
    background:#ffffff;
    text-align: center;
    overflow: hidden;
}
.releaseRequirements-head-box{
    padding:0 10px;
    margin-top: 30px;
}
.releaseRequirements-head-cancel{
    position: absolute;
}
.releaseRequirements-head-title{
    width: 100%;
    font-size: 18px;
}