.container{
    background: #efeff4;
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background: #b2b2b2;
}
.release-add-success{
    position: fixed;
    right:0;
    left:0;
    top:0;
    bottom:0;
    overflow-y: auto;
    background: #a7a6ab;
}
.release-add-success_box{
    width:272px;
    height:110px;
    background:#fff;
    border-radius:5px;
    position: absolute;
    left:calc(50% - 136px);
    top:calc(50% - 55px);
}
.release-add-success_box-top{
    text-align: center;
    height: 65px;
    line-height: 65px;
    font-size:12px;
}
.release-add-success_box-bottom{
    text-align: center;
    height: 44px;
    line-height: 44px;
    border-top: 1px solid #d6d7dc;
    color: #ea560a;
    font-weight:700;
}