body{
	background: #f1f1f1;
	font-family: "Microsoft YaHei", sans-serif;
}
.head{
	background: #fff;
	height: 55px;
	padding-top: 30px;
	border-bottom: 1px solid #cccccc;
}
.tabbar-top{
	width: 70%;
	height: 40px;
	margin-left: 15%;
	border: 2px solid #ea5404;
	border-radius: 5px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #ea5404;
}
.tabbar-top div{
	float: left;
	width: 33%;
	height: 40px;
	line-height: 40px;
}
.title2{
	border-left: 1px solid #ea5404;
	border-right: 1px solid #ea5404;
}
.title-active{
	background: #ea5404;
	color: #fff;
}
.title3{
	position: relative;
}
.numb{
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: -6px;
	right: 50%;
	margin-right: -35px;
}
.list-box{
	padding: 15px;
}
.list{
	background: #fff;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 9px 1px #cccccc;
	margin-bottom: 10px;
}
.list-title{
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	color: #666;
}
.list-date{
	float: right;
	margin-right: 10%;
	font-size: 10px;
	line-height: 30px;
	color: #999;
}
.list-content{
	font-size: 10px;
}
.list-content:before{
	content: "";
	display: block;
	height: 1px;
	width: 100%;
	background: #cccccc;
}

.tabbar-bottom {
	height: 50px;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	background: white;
	border-top:  1px solid #eeeeee;
}

.tabbar-box{
	list-style: none;
	display: -wekit-box;
	display: -wekit-flex;
	display: flex;
	width: 100%;
	text-align: center;
}

.tabbar-box li {
	-wekit-box: 1;
	-wekit-flex: 1;
	flex: 1;
	font-size: 10px;
	font-family: "Microsoft YaHei", sans-serif;
	color: #b7afaa;
}

.tabbar-li1{
	background: url("../img/bottom_nor_icon04@2x.png") no-repeat center 8px;
	background-size: 22px;
}
.tabbar-li2{
	background: url("../img/bottom_nor_icon03@2x.png") no-repeat center 8px;
	background-size: 22px;
}
.tabbar-li3{
	background: url("../img/bottom_icon05@2x.png") no-repeat center 5px;
	background-size: 48px;
}
.tabbar-li4{
	background: url("../img/bottom_press_icon02@2x.png") no-repeat center 8px;
	background-size: 22px;
}
.tabbar-li5{
	background: url("../img/bottom_nor_icon01@2x.png") no-repeat center 8px;
	background-size: 22px;
}

.tabbar-name{
	display: block;
	margin-top: 28px;
}

.tabbar-name-active{
	color: #ea5404;
}

.clear:after{
	content: '';
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}

.release{
	position: absolute;
	top: 0;
	right:0;
	bottom:0;
	left:0;
	z-index: 9;
	background-color: rgba(0,0,0,0.92);
	display: none;
}

.need{
	margin-top: 110%;
	display: block;
	float: left;
	margin-left: 15%;
}

.resource{
	margin-top: 110%;
	display: block;
	float: right;
	margin-right: 15%;
}

.need span,.resource span{
	margin-left: 15%;
	color: #fff;
}

.btn-close{
	position: absolute;
	left: 50%;
	bottom: 30px;
	margin-left: -14px;
}

.container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 50px;
	left: 0;
	overflow-y: auto;
}
