body{
	background: #efeff4;
}
.clear:after{
	content: "";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
.releaseRequirements{
	position: fixed;
	right:0;
	left:0;
	top:0;
	bottom:0;
	overflow-y: auto;
}
.releaseRequirements-head{
	width: 100%;
	height: 64px;
	background:#ffffff;
	text-align: center;
	overflow: hidden;
}
.releaseRequirements-head-box{
	padding:0 10px;
	margin-top: 30px;
}
.releaseRequirements-head-cancel{
	position: absolute;
}
.releaseRequirements-head-title{
	width: 100%;
	font-size: 18px;
}
.releaseRequirements-search{
	padding:13px;
	font-size:0
}
.rR-s-search{
	height: 33px;
	background: #fff;
	border-radius:5px;
	padding:0 10px;
	width: 58%;
	display: inline-block;

}
.rR-s-search-icon{
	background:url("../images/content_search_icon@2x.png") no-repeat center;
	background-size:15px;
	display:inline-block;
	width: 33px;
	height: 33px;
}
.rR-s-search-text{
	display:inline-block;
	height: 33px;
	vertical-align: top;
	line-height: 33px;
	color: #cfcfcf;
	font-size: 14px;
}
.rR-s-search-add{
	display: inline-block;
}
.rR-s-search-addIcon{
	background:url("../images/content_plus_icon@2x.png") no-repeat center;
	background-size:15px;
	display:inline-block;
	width: 33px;
	height: 33px;
}
.rR-s-search-addText{
	display: inline-block;
	height: 33px;
	vertical-align: top;
	line-height: 33px;
	font-size: 14px;
}
/*大厦信息*/
.buildingInformation{
	padding:10px;
	background:#fff;
	font-size: 10px;
}
.buildingInformation dt{
	font-size: 18px;
	color:#666;
}
.buildingInformation dl dd{
	height:20px;
	width:100%;
	margin:2px 0;
}
.dd-flex{
	display: flex;
	list-style: none;
}
.dd-flex1{
	flex:1;
}
.dd-flex2{
	flex:4;
}
.buildingInformation-sq{
	display: block;
	float: right;
	margin-right:5px;
	color:#666;
}
.buildingInformation-sq-content{
	display:block;
	border-bottom: 1px solid #999;
	padding:0 5px;
	color:#999;
}
.housingInformation{
	margin-top:10px;
	background: #fff;
	font-size:10px;
	padding:10px;
	color:#666;
}
.hI-title{
	font-size:18px;
}
.hI-text{
	padding-left:10px;
}
.hI-elements-box{
	padding-left: 20px;
}
.hI-elements{
	height: 19px;
	display: inline-block;
	padding-right:10px;
}
.hI-radio{
	background:url("../images/content_nor_icon@2x.png") no-repeat center;
	width: 19px;
	height: 19px;
	display: block;
	float: left;
}
.hI-radio-active{
	background:url("../images/content_nor_icon@2x.png") no-repeat center
	,url("../images/content_press_icon@2x.png") no-repeat center;
	width: 19px;
	height: 19px;
	display: block;
	float: left;
}
.hI-content-box{
	padding:10px;
	border-top:1px solid #999999;
	font-size: 0px;
}
.hI-content1{
	height: 30px;
	padding:5px 0px;
	font-size: 10px;
}
.hI-content2{
	padding:5px 0px;
	font-size: 10px;
}
.hI-content1-head{
	display: inline-block;
	height: 30px;
	line-height: 30px;
}
.hI-content1-c1{
	display: inline-block;
	height: 30px;
	width:28%;
	border-radius:5px;
	background: #efeff4;
	padding:0px 10px;
	line-height: 30px;
	margin-left: 10px;
}
.hI-content1-c11{
	margin-left: 5%;
}
.hI-content1-c2{
	display: inline-block;
	height: 30px;
	width:69%;
	border-radius:5px;
	background: #efeff4;
	padding:0px 10px;
	line-height: 30px;
	margin-left: 10px;
	vertical-align: middle;
}
.hI-content1-c3{
	display: inline-block;
	height: 90px;
	width:69%;
	border-radius:5px;
	background: #efeff4;
	padding:0px 10px;
	line-height: 30px;
	margin-left: 10px;
	vertical-align: top;
}
.hI-content1-textarea{
	display: inline-block;
	width:100%;
	height: 80px;
	background: #efeff4;
	border: none;
	outline: none;
	color:#666;
	font-size: 10px;
	resize: none;
	padding:5px 0px;
}
.hI-content1-input1{
	display: inline-block;
	width:100%;
	height: 30px;
	background: #efeff4;
	border: none;
	outline: none;
	color:#666;
	font-size: 10px;
}
.hI-content1-input2{
	display: inline-block;
	width:50%;
	height: 30px;
	background: #efeff4;
	border: none;
	outline: none;
	color:#666;
	font-size: 10px;
}
.content_list_icon99{
	background:url("../images/content_list_icon99@2x.png") no-repeat center;
	background-size:10px;
	display:block;
	float: right;
	width: 30px;
	height:30px;
}
.hI-content1-l1{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin-left: 10px;
}
.hI-add{
	padding:5px 20px 5px 20px;
}
.hI-add-box{
	width:75px;
	height:25px;
	background:url("../images/content_plus_icon@2x.png") no-repeat center;
	background-color:#d4d4d9;
	text-align:center;
	padding-top:50px;
}
.releaseRequirements-chick{
	margin-top:10px;
	padding:10px;
	background:#fff;
}
.releaseRequirements-btn{
	width: 100%;
	height: 44px;
	text-align: center;
	background: #ea5404;
	border-radius:5px;
}
.releaseRequirements-text{
	line-height:44px;
	color:#fff;
}
.release-success-active{
	display: none;
}
.release-success{
	position: fixed;
	right:0;
	left:0;
	top:0;
	bottom:0;
	overflow-y: auto;
	background: rgba(167, 167, 170, 0.6);
}
.release-success_box{
	width:272px;
	height:110px;
	background:#fff;
	border-radius:5px;
	position: absolute;
	left:calc(50% - 136px);
	top:calc(50% - 55px);
}
.release-success_box-top{
	text-align: center;
	height: 65px;
	line-height: 65px;
	font-size:12px;
}
.release-success_box-bottom{
	text-align: center;
	height: 44px;
	line-height: 44px;
	border-top: 1px solid #d6d7dc;
	color: #ea560a;
	font-weight:700;
}

.release-cancel{
    position: fixed;
    right:0;
    left:0;
    top:0;
    bottom:0;
    overflow-y: auto;
    background: rgba(167, 167, 170, 0.6);
}
.release-cancel_box{
    width:272px;
    height:110px;
    background:#fff;
    border-radius:5px;
    position: absolute;
    left:calc(50% - 136px);
    top:calc(50% - 55px);
}
.release-cancel_box-top{
    text-align: center;
    height: 65px;
    line-height: 65px;
    font-size:12px;
}
.release-cancel_box-bottom{
    text-align: center;
    height: 44px;
    line-height: 44px;
    border-top: 1px solid #d6d7dc;

    font-weight:700;
}
.release-cancel_box-bottom-left{
    width: 50%;
    float: left;
}
.release-cancel_box-bottom-right{
    width: 50%;
    float: right;
    color: #ea560a;
}

.release-add{
	position: fixed;
	right:0;
	left:0;
	top:0;
	bottom:0;
	overflow-y: auto;
	background: #f0eff5;
}

.releaseRequirements-box1,.releaseRequirements-box2{
	margin-top:10px;
	padding: 0px 10px;
}
.releaseRequirements-box1-input1,.releaseRequirements-box2-input2 {
	border-radius: 5px;
	height:40px;
	background:white;
	padding:10px;
}
.input1,.input2{
	width: 100%;
	height:100%;
	border:none;
	outline: none;
	color:#999;
}

.release-add-chick{
	margin-top:10px;
	padding:10px;
}
.release-add-btn{
	width: 100%;
	height: 44px;
	text-align: center;
	background: white;
	border-radius:5px;
}
.release-add-text{
	line-height:44px;
	color: #ea560a;
	font-weight: 600;
}

.release-add-success{
	position: fixed;
	right:0;
	left:0;
	top:0;
	bottom:0;
	overflow-y: auto;
	background: #a7a6ab;
}
.release-add-success_box{
	width:272px;
	height:110px;
	background:#fff;
	border-radius:5px;
	position: absolute;
	left:calc(50% - 136px);
	top:calc(50% - 55px);
}
.release-add-success_box-top{
	text-align: center;
	height: 65px;
	line-height: 65px;
	font-size:12px;
}
.release-add-success_box-bottom{
	text-align: center;
	height: 44px;
	line-height: 44px;
	border-top: 1px solid #d6d7dc;
	color: #ea560a;
	font-weight:700;
}

.release-search{
	position: fixed;
	right:0;
	left:0;
	top:0;
	bottom:0;
	overflow-y: auto;
	background: #f0eff5;
}

.release-search-search{
	padding:13px;
	font-size:0;
	background: #ffffff;
}
.rs-s-search{
	height: 33px;
	background: #f1f1f1;
	border-radius:5px;
	padding:0 10px;
	width: 70%;
	display: inline-block;
}
.rs-s-search-icon{
	background:url("../images/content_search_icon@2x.png") no-repeat center;
	background-size:15px;
	display:inline-block;
	width: 33px;
	height: 33px;
}
.rs-s-search-input{
	display:inline-block;
	width: 80%;
	height: 33px;
	vertical-align: top;
	line-height: 33px;
	color: #cfcfcf;
	font-size: 14px;
	border:none;
	outline: none;
	background: #f1f1f1;
}
.rs-s-search-add{
	display: inline-block;
}
.rs-s-search-addText{
	float: right;
	height: 33px;
	line-height: 33px;
	font-size: 14px;
	margin-left:20px;
	color:#ea560a;
}

.release-search-zjss{
	padding:10px 20px;
}
.release-search-zjss-s1{
	display: block;
	float: left;
	width: 50%;
	text-align: left;
	font-size: 12px;
	color:#666;
}
.release-search-zjss-s2{
	display: block;
	float: left;
	width: 50%;
	text-align: right;
	font-size: 12px;
	color:#666;
}
.release-search-content{
	padding:0px 0px 0px 20px;
	background:#fff;
}
.release-search-content1{
	width:100%;
	height: 34px;
	line-height: 34px;

	font-size: 14px;
	color:#333;
}
.release-search-content div:not(:last-child){
	border-bottom: 1px solid #999;
}