<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,minimum-scale=1,user-scalable=1">
    <title>house | 杭州瑞烁网络科技股份有限公司</title>
    <meta name="keywords" content="杭州瑞烁网络科技股份有限公司"/>
    <meta name="description" content="杭州瑞栎网络科技有限公司成立于2015年是一家专注于专业市场电子商务公司
      杭州瑞栎网络科技有限公司成立于2015年， 公司主要经营教育软件 多媒体技术 游戏软件 计算机数据处理技术 计算机系统集成 教育信息咨询，公司秉承与客户共赢理念，为企业提供高效、务实的互联网营销服务，在专业市场的电子商务建设领域具有独特优势和丰富经验。"/>
    <link href="//cdn.bootcss.com/weui/1.0.2/style/weui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../public/css/LoginRegister/agent.css">
</head>
<body>
<div class="agent-head">
    <div class="agent-head-box">
        <div class="agent-head-cancel" onclick="history.back()"><img src="../../public/img/nav_back_icon@2x.png" style="height: 20px"></div>
        <div class="agent-head-title">经纪人</div>
    </div>
</div>
<div class="container">
    <form action="">
        <div class="required">
            <div class="required-head">必填项</div>
            <div class="required-box">
                <div class="required-content1-box">
                    <div  class="required-content1-c">添加头像</div>
                </div>
                <div class="required-content2">
                    <input class="required-content2-input1" placeholder="姓名">
                    <input class="required-content2-input1" placeholder="所属公司">
                    <input class="required-content2-input1" placeholder="联系方式">
                    <input class="required-content2-input1" placeholder="擅长商圈">
                </div>
                <div class="required-content3">
                    名片正面
                </div>
            </div>
        </div>
        <div class="optional">
            <div class="optional-head">选填项</div>
            <div class="optional-box">
                <div class="optional-content1">
                    全国经纪人证书
                </div>
            </div>
        </div>
        <div class="agent-btn-box">
            <button type="button" class="agent-btn agent-btn-disabled">完成</button>
        </div>
    </form>
</div>
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script>
    $('.required-content2-input1').keyup(function () {
        var val1 = $('.required-content2-input1').eq(0).val();
        var val2 = $('.required-content2-input1').eq(1).val();
        var val3 = $('.required-content2-input1').eq(2).val();
        var val4 = $('.required-content2-input1').eq(3).val();
        if(val1!= '' && val2!= '' && val3!= '' && val4 != '')
        {
            $('.agent-btn').removeClass("agent-btn-disabled");
            $('.agent-btn').removeAttr("disabled");
        }
        else{
            $('.agent-btn').addClass("agent-btn-disabled");
            $('.agent-btn').attr("disabled",'');
        }
    })
</script>

</body>
</html>