body{
    background-color: #f1f1f1;
    color: #666666;
}

.swiper-container {
    width: 100%;
    height: 320px;
}
.swiper-slide img {
    width: 100%;
    height: 100%;
}

.swiper-pagination-bullet {
    background: url("../img/banner_icon_point_nor@2x.png") no-repeat;
    background-size: cover;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background: url("../img/banner_icon_point_press@2x.png") no-repeat;
    background-size: cover;
}

/*.slide-up{*/
    /*width: 100%;*/
    /*height: 100px;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 15px;*/
    /*right: 15px;*/
/*}*/

.city-select {
    height: 30px;
    width: 80px;
    padding: 0 15px;
    color: #ffffff;
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 7;
}
.city-select span {
    float: left;
    display: block;
    line-height: 30px;
    padding: 0 ;
}
.city-select i {
    float: left;
    display: block;
    width: 20px;
    height: 30px;
    background: url("../img/arrow-down.png") no-repeat center;
    background-size: 15px;
}
.search-container {
    position: absolute;
    top: 50px;
    right: 15px;
    left: 15px;
    z-index: 7;
    height: 35px;
    /*padding: 0 15px;*/
    text-align: center;
}
.search-box {
    width: 100%;
    height: 35px;
    color: #bdbdbd;
    line-height: 35px;
    border-radius: 5px;
    background-color: #f1f1f1;
}
.search-fixed{
    position: fixed;
    top:0;
}
.icon-search {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: url("../img/banner_icon_search@2x.png") no-repeat center;
    background-size: 13px;
    vertical-align: bottom;
}
/*屏幕小于等于400px*/
@media all and (max-width: 400px) {

}
/*屏幕大于等于400px*/
@media (min-width: 400px) {

}
/*取 后面所有条件查询结果的反义*/
@media not screen and (min-width: 400px) {

}
/*仅取后面的查询结果*/
@media only screen and (min-width: 400px) {

}

.flex-box {
    height: 34px;
    display: -wekit-box;
    display: -wekit-flex;
    display: flex;
    list-style: none;
    background: white;
    text-align: center;
    margin-top: 10px;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    padding: 7px 0;
}
.flex-box li:not(last-child){
    -wekit-box: 1;
    -wekit-flex: 1;
    flex: 1;
}
.flex-li-1 {
    background: url("../img/content_icon02_nor@2x.png") no-repeat center 24px;
    background-size: 12px;
}

.flex-li-2 {
    background: url("../img/content_icon02_nor@2x.png") no-repeat center 24px;
    background-size: 12px;
}

.flex-li-3 {
    background: url("../img/content_icon02_nor@2x.png") no-repeat center 24px;
    background-size: 12px;
}

.flex-li-4 {
    background: url("../img/content_icon02_nor@2x.png") no-repeat center 24px;
    background-size: 12px;
}

.flex-li-5 {
    width: 60px;
    background: url("../img/content_icon01_nor@2x.png") no-repeat center;
    background-size: 24px;
}

.flex-li-5-up{
    width: 60px;
    background: url("../img/content_icon01_down@2x.png") no-repeat center;
    background-size: 24px;
}

.flex-li-5-down{
    width: 60px;
    background: url("../img/content_icon01_litre@2x.png") no-repeat center;
    background-size: 24px;
}

.line{
    width: 2px;
    height: 22px;
    margin-top: 6px;
    background: #cccccc;
}

.detail{
    padding: 10px;
    background: white;
    height: 90px;
    margin-bottom: 10px;
    display: -wekit-box;
    display: -wekit-flex;
    display: flex;
}

.detail-img{
    -wekit-box: 2;
    -wekit-flex: 2;
    flex: 2;
}

.detail-info{
    -wekit-box: 3;
    -wekit-flex: 3;
    flex: 3;
    font-family: "Microsoft YaHei", sans-serif;
}

.detail-info p{
    font-size: 12px;
}

.mark{
    width: 55px;
    text-align: center;
    color: #ea5404;
    border: 1px solid #ea5404;
    border-radius: 5px;
}

.price{
    color: #ea5404;
    font-size: 16px;
}

.detail>img{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

.flex-box li img{
    position: relative;
    top: -10px;
}

.container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 50px;
    left: 0;
    overflow-y: auto;
}

.tabbar-bottom {
    height: 50px;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
    border-top:  1px solid #eeeeee;
}

.tabbar-box{
    list-style: none;
    display: -wekit-box;
    display: -wekit-flex;
    display: flex;
    width: 100%;
    text-align: center;
}

.tabbar-box li {
    -wekit-box: 1;
    -wekit-flex: 1;
    flex: 1;
    font-size: 10px;
    font-family: "Microsoft YaHei", sans-serif;
    color: #b7afaa;
}

.tabbar-li1{
    background: url("../img/bottom_press_icon04@2x.png") no-repeat center 8px;
    background-size: 22px;
}
.tabbar-li2{
    background: url("../img/bottom_nor_icon03@2x.png") no-repeat center 8px;
    background-size: 22px;
}

.tabbar-li3{
    background: url("../img/bottom_icon05@2x.png") no-repeat center 5px;
    background-size: 48px;
}
.tabbar-li4{
    background: url("../img/bottom_nor_icon02@2x.png") no-repeat center 8px;
    background-size: 22px;
}
.tabbar-li5{
    background: url("../img/bottom_nor_icon01@2x.png") no-repeat center 8px;
    background-size: 22px;
}

.tabbar-name{
    display: block;
    margin-top: 28px;
}

.tabbar-name-active{
    color: #ea5404;
}

.select-city-box {
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    z-index: 8;
    background-color: #fff;
    display: none;
    padding-top: 40px;
}

.city-close{
    position: absolute;
    left: 16px;
    top: 40px;
    font-size: 20px;
    color: red;
}

.city-title{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.city-title:after{
    content: "";
    display: block;
    margin-top: 10px;
    height: 1px;
    width: 100%;
    background: #d8d8d8;
}

.city{
    line-height: 50px;
    margin-left: 40px;
}

.city:after{
    content: "";
    display: block;
    margin-left: 20px;
    height: 1px;
    width: 100%;
    background: #cccccc;
}

.release{
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    z-index: 9;
    background-color: rgba(0,0,0,0.92);
    display: none;
}

.need{
    margin-top: 110%;
    display: block;
    float: left;
    margin-left: 15%;
}

.resource{
    margin-top: 110%;
    display: block;
    float: right;
    margin-right: 15%;
}

.need span,.resource span{
    margin-left: 15%;
    color: #fff;
}

.btn-close{
    position: absolute;
    left: 50%;
    bottom: 30px;
    margin-left: -14px;
}